<div class="container mt-5">
  <div class="row ">
  <% @movies.each.with_index(1) do |movie,count|%>
    <div class="col-12 col-md-6 col-lg-4 mb-4">
      <div class="card border-dark h-100">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" class="embed-responsive-item" src="<%= movie.url %>"></iframe>
        </div> 
        <div class="card-body">
          <p><button class="card-title btn btn-secondary btn-block">視聴済みにする</button></p>
          <h6 class="card-title">Lv.<%= count %> : <%= movie.title %></h6>
          <p class="card-text">【<%= movie.genre %>】</p>  
        </div>
      </div>  
    </div>
  <%end%>
  </div>
</div>
