/*
 *= require_tree .
 *= require_self
 */
@import "bootstrap/scss/bootstrap";

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

/* 全体 */
.base-container {
  margin: 0 auto;
  padding: 1rem;
}

/* max-width */
.mw-md {
  max-width: 720px;
}

.mw-lg {
  max-width: 960px;
}

.mw-xl {
  max-width: 1200px;
}

@import "bootstrap/scss/bootstrap";

.collapse {
  display: flex;
  justify-content: center;
  align-items: center;
}

.collapse li {
  font-size: 12px;
}

div.text-card-container {
    padding-left: 9px;
    padding-right: 9px;
    margin-bottom: 50px;
}

div.content-card {
  height: 270px;
  max-width:300px;
  margin: 0 auto;
}

/* フッターと要素が被ることを防ぐ */
body {
  padding-bottom: 70px;
}

.search-area input[type="text"] {
  padding: 5px 5px 3px;
  font-size: 16px;
  border: 1px solid #D6D6D6;
}

.search-area input[type="text"]:focus {
  background: #F9F9F9;
}

.search-result {
  margin-top: 20px;
}
.hit-num__text span {
  font-weight: bold;
}
#search-result__list {
  margin-top: 15px;
}
#search-result__list span {
  display: inline-block;
  margin-right: 15px;
  padding: 5px;
  background: #F2F2F2;
}
.target-area {
  margin-top: 50px;
}
.target-area .hidden {
  display: none
}

.use_icon {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.search-form {
    width: 300px;
    text-align: center;
}

a, a:visited, a:focus, a:hover {
  text-decoration: none;
}
