/*
 *= require_tree .
 *= require_self
 */
@import "bootstrap/scss/bootstrap";

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

/* 全体 */
.base-container {
  margin: 0 auto;
  padding: 1rem;
}

/* max-width */
.mw-md {
  max-width: 720px;
}

.mw-lg {
  max-width: 960px;
}

.mw-xl {
  max-width: 1200px;
}

@import "bootstrap/scss/bootstrap";

.collapse {
  display: flex;
  justify-content: center;
  align-items: center;
}

.collapse li {
  font-size: 12px;
}

div.text-card-container {
    padding-left: 9px;
    padding-right: 9px;
    margin-bottom: 50px;
}

div.content-card {
  height: 270px;
  max-width:300px;
  margin: 0 auto;
}

/* フッターと要素が被ることを防ぐ */
body {
  padding-bottom: 70px;
}

.hit-num__text span {
  font-weight: bold;
}

// サーチフォームの設定
form.search-form {
  max-width: 350px;
  position: relative;
}

// サーチフォームの高さ調整
#search-text {
  height: 50px;
}

// サーチフォーム内のテキスト調整
input.search-text {
  padding-left: 50px;
}

// サーチアイコンの設定
i.search-icon {
    position: absolute;
    top: 32%;
    left: 5%;
    z-index: 11;
}

a, a:visited, a:focus, a:hover {
  text-decoration: none;
}
