@import "bootstrap/scss/bootstrap";

.challenges_title {
  text-align: center;
}

.challenges_coment {
  text-align: center;
}

.cards {
  text-align: center;
}

.card {
  display: inline-block;
  margin: 15px;
}