<div class="col-12 col-md-6 col-lg-4 text-card-container">
  <div class="card content-card border-dark mb-3">
      <a target="_blank" rel="noopenernoreferrer" href="/texts/${text.id}"></a>
        <div class="card-header p-0">
          <img class="card-img-top" src="https://d5izmuz0mcjzz.cloudfront.net/texts/no_image.jpg" width="100%">
        </div>
      <div class="card-body text-dark text-card-body">
        <object>
          <% if @text.read_by?(current_user) %>
              <%= link_to '読破済みを解除', text_reads_path(@text), method: :delete %>
          <% else %>
              <%= link_to '読破済みにする', text_reads_path(@text), method: :post %>
          <% end %>
        </object>
        <p class="card-text text-title"><%= text.title %> </p>
        <p>【<%= text.genre %>】</p>
      </div>   
  </div>
</div>