<h2 class="h2">Rubyチャレンジ問題集</h2>
<p class="text1">Rubyのチャレンジ問題集です。
「やんばるエキスパート」参加者の皆様には「チャレンジ課題提出」チャンネルでレビューを行います。</p>

<% challenges = ["【条件分岐】旅行プログラムを作ろう！","【メソッド】旅行プログラムを作ろう！","【クラス】ドラクエ風プログラムを作ろう！","【クラス】ToDoリストプログラムを作ろう！"] %>

<div class="cards">
  <% challenges.each do |text| %>
    <div class="card" style="width: 18rem;">
      <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
      <div class="card-body">
        <a href="#" class="btn btn-primary">完了済みにする</a>
        <p class="card-text"><%= text%></p>
      </div>
    </div>
  <%end%>
</div>

<style>
.h2{
  text-align:center;
}

.text1{
    text-align:center;
}

.cards{
  text-align:center;
}

.card{
  display: inline-block;
  margin:15px;
}
</style>