<div class="contents-title text-center">
  <h1>Rails テキスト教材</h1>
</div>
<form class="mb-3 search-form mx-auto">
  <i class="fa fa-search search-icon" title="Search">
    ::before
  </i>
  <%= text_field_tag :title,'', class: 'js-text_field', id: "search-text" , placeholder: '教材を探す' %>

  <ul class="js-texts">
    <%= render partial: 'text' %>
  </ul>

 
<body>
  <div class="wrapper">
    <div class="search-area">
      <div class="search-result">
        <div class="search-result__hit-num"></div>
        <div id="search-result__list"></div>
      </div>
    </div>
  </div><!-- /.wrapper -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    
</body>

