<h2 class="h2">質問集</h2>

<%
titles={"Ruby": "undefined method `capitalize' for ~~:Array (NoMethodError)",
"Ruby": "undefined local variable or method",
"Ruby": "	Rubyの新バージョンをインストール",
}
%>

<% titles.each do |k, v| %>
  <p><%=k%></p><p><%=v%></p>
<%end%>

<div class="container">
  <div class="row col-xs-8">
    <div class="panel-group" id="sampleAccordion">
      <div class="panel panel-default">
        <div class="panel-heading  background-orange">
          <h3 class="panel-title">
            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
            <a data-toggle="collapse" data-parent="#sampleAccordion" href="#sampleAccordionCollapse1">
              検索条件
            </a>
          </h3>
        </div>
        <div id="sampleAccordionCollapse1" class="panel-collapse collapse in">
          <div class="panel-body">
            <form>
              <fieldset>
                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-2 text-right">
                      <label class="control-label">名前</label>
                    </div>
                    <div class="col-xs-8">
                      <input type="text" class="form-control" placeholder="テキスト入力欄">
                    </div>
                  </div>
                </div>
                <br>
                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-2 text-right">
                      <label class="control-label">ふりがな</label>
                    </div>
                    <div class="col-xs-8">
                      <input type="text" class="form-control" placeholder="テキスト入力欄">
                    </div>
                  </div>
                </div>
                <br>
                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-2 text-right">
                      <label class="control-label">生年月日</label>
                    </div>
                    <div class="col-xs-8">
                      <input type="date" class="form-control">
                    </div>
                  </div>
                </div>
                <br>
                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-2 text-right">
                      <label class="control-label">性別</label>
                    </div>
                    <div class="col-xs-3">
                      <select class="form-control" id="number" name="number">
                        <option value="1" selected="selected">　</option>
                        <option value="2">男</option>
                        <option value="3">女</option>
                      </select>
                    </div>
                  </div>
                </div>
                <br>
                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-offset-8">
                      <button class="btn btn-primary">検索</button>
                      <button class="btn">クリア</button>
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row col-xs-12">
    <table class="table table-bordered table-hover">
      <thead class="background-orange">
        <tr>
          <th class="col-xs-1">選択</th>
          <th>名前</th>
          <th>ふりがな</th>
          <th>生年月日</th>
          <th>性別</th>
        </tr></thead>
      <tbody>
        <tr>
          <td class="col-xs-1">
            <input type="checkbox">
          </td>
          <td>田中　太郎</td>
          <td>たなか　たろう</td>
          <td>1990/01/01</td>
          <td>男</td>
        </tr>
        <tr>
          <td class="col-xs-1">
            <input type="checkbox">
          </td>
          <td>鈴木　一郎</td>
          <td>すずき　いちろう</td>
          <td>1991/02/02</td>
          <td>男</td>
        </tr>
        <tr>
          <td class="col-xs-1">
            <input type="checkbox">
          </td>
          <td>山田　花子</td>
          <td>やまだ　はなこ</td>
          <td>1992/03/03</td>
          <td>女</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row row col-xs-12">
    <div class="text-right">
      <button class="btn btn-success">登録</button>
    </div>
  </div>
</div>