

<ul class="navbar-nav mr-auto">

<div class="links">

        <a class="nav-link content_name" href="/">やんばるCODE <span class="sr-only">(current)</span></a>
        
<div class="dropdown">
  <!-- 切替ボタンの設定 -->
  <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Rails ▼
  </button>
  <!-- ドロップメニューの設定 -->
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="/">Ruby/Rails教材</a>
    <a class="dropdown-item" href="/">動画教材</a></a>
    <a class="dropdown-item" href="/">AWS教材</a>
    <a class="dropdown-item" href="/">プログラミング勉強会</a>
    <a class="dropdown-item" href="/">質問集</a></a>
    <a class="dropdown-item" href="/">チャレンジ問題集</a>
    <div class="dropdown-divider"></div>
  </div><!-- /.dropdown-menu -->
</div><!-- /.dropdown -->

<div class="dropdown">
  <!-- 切替ボタンの設定 -->
  <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    PHP ▼
  </button>
  <!-- ドロップメニューの設定 -->
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="/">PHPテキスト教材</a>
    <a class="dropdown-item" href="/">PHP動画教材</a></a>
    <div class="dropdown-divider"></div>
  </div><!-- /.dropdown-menu -->
</div><!-- /.dropdown -->

<div class="dropdown">
  <!-- 切替ボタンの設定 -->
  <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    フロント ▼
  </button>
  <!-- ドロップメニューの設定 -->
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="/">HTML&CSS</a>
    <a class="dropdown-item" href="/">javaScript</a></a>
    <a class="dropdown-item" href="/">HTML&CSS</a>
    <a class="dropdown-item" href="/">TypeScript</a>
     <a class="dropdown-item" href="/">Angular</a>
     <a class="dropdown-item" href="/">Vue</a>
    <div class="dropdown-divider"></div>
  </div><!-- /.dropdown-menu -->
</div><!-- /.dropdown -->

        <a class="nav-link content_name_2" href="#">対談 <span class="sr-only">(current)</span></a>
        <a class="nav-link content_name_2" href="#">マネタイズ講座 <span class="sr-only">(current)</span></a>
        <a class="nav-link content_name_2" href="#">LINE <span class="sr-only">(current)</span></a>

  <div class="dropdown">
  <!-- 切替ボタンの設定 -->
  <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    マイページ ▼
  </button>
  <!-- ドロップメニューの設定 -->
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="/">HTML&CSS</a>
    <a class="dropdown-item" href="/">javaScript</a></a>
    <a class="dropdown-item" href="/">HTML&CSS</a>
    <a class="dropdown-item" href="/">TypeScript</a>
     <a class="dropdown-item" href="/">Angular</a>
     <a class="dropdown-item" href="/">Vue</a>
    <div class="dropdown-divider"></div>
  </div><!-- /.dropdown-menu -->
</div><!-- /.dropdown -->

 <% if user_signed_in? %>
       <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: "ログアウトしますか？" }, class: "nav-link content_name_2" %>
  <% else %>
        <a class="nav-link content_name_2" href="/users/sign_up">新規登録 <span class="sr-only">(current)</span></a>
        <a class="nav-link content_name_2" href="/users/sign_in#">ログイン</a>
  <% end %>

</div>

</nav>